<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Configure aspect -->
    <aop:aspectj-autoproxy/>

    <!-- Define bean for LoggingAspect -->
    <bean id="loggingAspect" class="com.library.aspect.LoggingAspect"/>

    <!-- Existing bean definitions -->
    <bean id="bookService" class="com.library.service.BookServiceImpl">
        <constructor-arg ref="bookRepositoryConstructor"/>
        <property name="bookRepositorySetter" ref="bookRepositorySetter"/>
    </bean>

    <!-- Define beans for BookRepository -->
    <bean id="bookRepositoryConstructor" class="com.library.repository.BookRepositoryImpl"/>
    <bean id="bookRepositorySetter" class="com.library.repository.BookRepositoryImpl"/>

</beans>